# Ignore virtual environment
venv/

# Ignore Django-related files
*.log
*.pot
*.pyc
db.sqlite3
__pycache__/
media/

# Ignore local settings
local_settings.py

# Ignore IDE/Editor files
.vscode/
.idea/
*.swp
*.swo

# Ignore compiled Python files
*.pyc

# Ignore macOS metadata files
.DS_Store

# Ignore environment-specific files
.env
*.env.*

# Ignore static files collected by Django
/staticfiles/

# Ignore database backups
*.bak
